label {
  margin-bottom: 10px;
  display: block;
}

input[type="number"] {
  margin-right: 10px;
  width: 4rem;
}

td {
  min-width: 1rem;
}

.highlight {
  background-color: lightgray;
}

.text-center {
  text-align: center;
}
